@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gifty, your trusted task managing app</h1>
    <p>Anything you plan, make sure to Gifty it!</p>
</div>
